{#
/**
* @file
* Default theme implementation to display a block.
*
* @see template_preprocess_block()
*
* @ingroup themeable
*/
#}
{% set classes = [
    'clear-both',
] %}
{% for rs in content %}
{% if rs.social == 'facebook' %}
<div class="fb-page" data-adapt-container-width="false" data-height="130" data-hide-cover="false" data-href="{{ rs.link }}" data-show-facepile="false" data-small-header="false" data-tabs="timeline" data-width="255">
  <blockquote cite="{{ rs.link }}" class="fb-xfbml-parse-ignore"><a href="{{ rs.link }}">Le Meilleur des Sorties pour enfants</a></blockquote>
</div>
{% endif %}
{% endfor %}