<div class="rs-suivez-nous">
{% for rs in content %}
				
                    
					{% if rs.social == 'instagram' %}
					<a href="{{ rs.link }}">
					<img src="/assets/img/instagram.jpg">
					</a>
					{% endif %}
                    
				{% endfor %}
   
</div>