<div class="suivez-nous">
{% for rs in content %}
				
                    <a href="{{ rs.link }}">
					{% if rs.social == 'instagram' %}
					<img src="/assets/img/instagram.jpg">
					{% endif %}
                    </a>
				
				{% endfor %}
   
</div>