{% if ref_act %}
<a href="/sorties-moment.html?ref_act={{  ref_act }}" class="voir-actualites"><i class="fa fa-calendar-o" style="color:#fff;margin-right: 2px"></i>Prochains événements</a>
{% elseif ref_adh %}
<a href="/recherche.html?ref_adh={{  ref_adh }}" class="voir-actualites"><i class="fa fa-calendar-o" style="color:#fff;margin-right: 2px"></i>Prochains événements</a>
{% endif %}
