/**
 * If using a CSS pre-processor, tell it to overwrite this file. If not, place
 * your custom CSS modifications here.
 */
@font-face {
  font-family: 'Roboto';
  src: url(../fonts/Roboto-Regular.ttf); }
@font-face {
  font-family: 'DidactGothic';
  src: url(../fonts/DidactGothic.ttf); }
body {
  overflow-x: hidden;
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: 400;
  color: gray; }

h1, h2, h3, h4, h5 {
  font-family: 'DidactGothic';
  color: #0cacce;
  font-weight: bold !important; }
  h1 a, h2 a, h3 a, h4 a, h5 a {
    color: #0cacce; }

#map path.actif {
  fill: #388EB1;
  stroke: #FFFFFF;
  transition: fill 0.2s, stroke 0.3s; }

.pagination {
  margin: auto; }
  @media (min-width: 992px) {
    .pagination {
      width: 50%; } }
  .pagination .pager__item--first, .pagination .pager__item--last {
    display: none; }
  .pagination .pager__item {
    text-align: center;
    flex: 1; }
    .pagination .pager__item.active a {
      background: #db2a24;
      border-radius: 50%;
      width: 23px;
      display: block;
      color: #ffffff;
      margin: auto; }
    .pagination .pager__item a {
      color: gray; }

#map path {
  fill: #667D87;
  stroke: #FFFFFF;
  transition: fill 0.2s, stroke 0.3s; }

#map path.actif:hover {
  fill: #E2001A;
  stroke: red; }

.path-frontpage h1 {
  margin-top: 20px; }
.path-frontpage .voir-filtres {
  display: none !important; }
.path-frontpage #views-exposed-form-activites-recherche-activites {
  box-shadow: 0px 3px 5px rgba(125, 125, 125, 0.5) !important; }

.btn-rouge {
  background: #e3001b;
  color: #ffffff !important;
  padding: 10px 100px;
  margin: auto; }

h1 {
  font-size: 26px;
  font-weight: 500; }

#entete_national img {
  width: 100%; }

#entete_national p {
  margin-bottom: 0; }

#entete {
  box-shadow: 0px 3px 5px rgba(125, 125, 125, 0.5);
  background: #ffffff;
  position: relative;
  z-index: 10; }
  #entete .titre {
    color: #000000; }
  @media (max-width: 400px) {
    #entete .bouton-burger button {
      padding: 0px; } }
  #entete .reseaux-sociaux {
    border-top: 1px solid rgba(0, 0, 0, 0.5);
    padding-top: 20px;
    margin-top: 20px; }
    #entete .reseaux-sociaux li {
      list-style: none;
      text-align: left !important;
      color: rgba(0, 0, 0, 0.5);
      padding-top: 10px;
      padding-bottom: 10px; }

#views-exposed-form-activites-recherche-activites,
#recherche-form {
  margin: auto;
  padding: 20px;
  margin-bottom: 30px;
  padding-top: 0; }
  #views-exposed-form-activites-recherche-activites .form-inline,
  #recherche-form .form-inline {
    display: flex;
    flex-direction: column; }
    @media (min-width: 768px) {
      #views-exposed-form-activites-recherche-activites .form-inline,
      #recherche-form .form-inline {
        display: grid;
        grid-template-columns: 33.33% 33.33% 33.33%; } }
    #views-exposed-form-activites-recherche-activites .form-inline label,
    #recherche-form .form-inline label {
      justify-content: left; }
    #views-exposed-form-activites-recherche-activites .form-inline .form-item,
    #recherche-form .form-inline .form-item {
      flex: 1;
      padding: 10px;
      width: 100%; }
  @media (max-width: 768px) {
    #views-exposed-form-activites-recherche-activites,
    #recherche-form {
      padding-top: 20px; } }
  #views-exposed-form-activites-recherche-activites .form-item-rubriques, #views-exposed-form-activites-recherche-activites .form-item-field-rubriques-activite-target-id,
  #recherche-form .form-item-rubriques,
  #recherche-form .form-item-field-rubriques-activite-target-id {
    background: #3ca0c0;
    color: #fff; }
  #views-exposed-form-activites-recherche-activites select,
  #recherche-form select {
    width: 100%;
    border-radius: 0; }
  #views-exposed-form-activites-recherche-activites .select2-container,
  #recherche-form .select2-container {
    width: 100% !important; }
    #views-exposed-form-activites-recherche-activites .select2-container .select2-selection--single,
    #recherche-form .select2-container .select2-selection--single {
      border-radius: 0;
      border: 1px solid #ccc;
      height: calc(1.5em + .75rem + 2px); }
      #views-exposed-form-activites-recherche-activites .select2-container .select2-selection--single .select2-selection__rendered,
      #recherche-form .select2-container .select2-selection--single .select2-selection__rendered {
        line-height: calc(1.5em + .75rem + 2px); }
      #views-exposed-form-activites-recherche-activites .select2-container .select2-selection--single b,
      #recherche-form .select2-container .select2-selection--single b {
        margin-top: 2px; }
  #views-exposed-form-activites-recherche-activites .form-item-body-format input, #views-exposed-form-activites-recherche-activites .form-item-search input,
  #recherche-form .form-item-body-format input,
  #recherche-form .form-item-search input {
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    margin-top: 0; }
  #views-exposed-form-activites-recherche-activites .form-actions,
  #recherche-form .form-actions {
    padding: 10px;
    width: 100%; }
    #views-exposed-form-activites-recherche-activites .form-actions .form-submit,
    #recherche-form .form-actions .form-submit {
      background: #db2a24;
      margin-top: 28px;
      width: 100%;
      color: #fff;
      border: none;
      height: calc(1.5em + .75rem + 2px); }
  #views-exposed-form-activites-recherche-activites .form-type-date,
  #recherche-form .form-type-date {
    display: none;
    background: #ccc;
    color: #000; }
    #views-exposed-form-activites-recherche-activites .form-type-date input,
    #recherche-form .form-type-date input {
      width: 100%;
      height: calc(1.5em + .75rem + 2px);
      border: 1px solid #ccc;
      border-radius: 0; }

@media (max-width: 768px) {
  #views-exposed-form-activites-recherche-activites .voir-filtres {
    display: none; } }
@media (min-width: 768px) {
  .path-taxonomy #block-formulaireexposeactivitesrecherche-activites, .path-node #block-formulaireexposeactivitesrecherche-activites, .path-recherchehtml #block-formulaireexposeactivitesrecherche-activites {
    height: 50px;
    transition: all 0.5s; }
    .path-taxonomy #block-formulaireexposeactivitesrecherche-activites #views-exposed-form-activites-recherche-activites, .path-node #block-formulaireexposeactivitesrecherche-activites #views-exposed-form-activites-recherche-activites, .path-recherchehtml #block-formulaireexposeactivitesrecherche-activites #views-exposed-form-activites-recherche-activites {
      z-index: 1;
      position: relative;
      overflow: hidden;
      transition: all 0.5s;
      top: -235px;
      padding-bottom: 5px;
      background: #ffffff; }
      .path-taxonomy #block-formulaireexposeactivitesrecherche-activites #views-exposed-form-activites-recherche-activites .voir-filtres, .path-node #block-formulaireexposeactivitesrecherche-activites #views-exposed-form-activites-recherche-activites .voir-filtres, .path-recherchehtml #block-formulaireexposeactivitesrecherche-activites #views-exposed-form-activites-recherche-activites .voir-filtres {
        background: #0cacce;
        margin: auto;
        padding: 5px;
        color: #ffffff;
        text-align: center;
        width: 250px; }
      .path-taxonomy #block-formulaireexposeactivitesrecherche-activites #views-exposed-form-activites-recherche-activites.with-dates, .path-node #block-formulaireexposeactivitesrecherche-activites #views-exposed-form-activites-recherche-activites.with-dates, .path-recherchehtml #block-formulaireexposeactivitesrecherche-activites #views-exposed-form-activites-recherche-activites.with-dates {
        top: -315px; }
  .path-taxonomy #block-formulaireexposeactivitesrecherche-activites:hover, .path-node #block-formulaireexposeactivitesrecherche-activites:hover, .path-recherchehtml #block-formulaireexposeactivitesrecherche-activites:hover {
    height: 280px; }
    .path-taxonomy #block-formulaireexposeactivitesrecherche-activites:hover #views-exposed-form-activites-recherche-activites, .path-node #block-formulaireexposeactivitesrecherche-activites:hover #views-exposed-form-activites-recherche-activites, .path-recherchehtml #block-formulaireexposeactivitesrecherche-activites:hover #views-exposed-form-activites-recherche-activites {
      top: 0;
      box-shadow: 0px 3px 5px rgba(125, 125, 125, 0.5); }
      .path-taxonomy #block-formulaireexposeactivitesrecherche-activites:hover #views-exposed-form-activites-recherche-activites .voir-filtres, .path-node #block-formulaireexposeactivitesrecherche-activites:hover #views-exposed-form-activites-recherche-activites .voir-filtres, .path-recherchehtml #block-formulaireexposeactivitesrecherche-activites:hover #views-exposed-form-activites-recherche-activites .voir-filtres {
        display: none; } }
#entete_national .logo-national {
  background: url(/assets/img/piaf.jpg) no-repeat left center;
  padding-left: 230px; }

.accueil {
  padding: 52px 5px 5px 5px;
  /*background: url(/assets/img/lien_accueil.jpg) no-repeat;
  background-position: 0px 30px;
  background-size: contain;*/
  cursor: pointer; }

#block-kidiklikentete span {
  margin-left: 45px !important;
  font-size: 42px !important;
  display: block;
  text-align: center; }

@media (max-width: 768px) {
  .container {
    max-width: 100%;
    width: 100%; } }
@media (max-width: 1200px) {
  #block-kidiklikentete span {
    margin-left: 35px !important;
    font-size: 35px !important; } }
.logo-dep {
  padding-top: 20px; }
  .logo-dep .titre {
    padding-left: 35px;
    font-size: 38px; }
    @media (max-width: 1200px) {
      .logo-dep .titre {
        font-size: 33px; } }
    @media (max-width: 992px) {
      .logo-dep .titre {
        text-align: center; } }
  .logo-dep img {
    width: 100%; }
    .logo-dep img:first-child {
      max-width: 640px; }

@media (max-width: 992px) {
  #entete_national .logo-national {
    background: none;
    padding-left: 15px; }

  #entete {
    position: relative; }
    #entete .row > div {
      padding-left: 5px;
      padding-right: 5px; }
      #entete .row > div:first-child {
        padding-left: 15px; }
      #entete .row > div:last-child {
        padding-right: 15px; }

  .logo-dep .titre {
    padding-left: 0px;
    font-size: 4.4vw; }

  #block-kidiklikentete img {
    /*padding-left: 80px;*/ }

  #block-kidiklikentete span {
    margin-left: 0 !important;
    font-size: 30px !important; }

  #entete .accueil_dep {
    /*position: absolute;
    top:0;
    left:0;*/ } }
@media (max-width: 768px) {
  .logo-dep .titre {
    padding-left: 0px;
    font-size: 5vw; }

  #entete_national {
    position: relative; }

  .accueil {
    position: absolute;
    top: 0px;
    left: 10px;
    width: 80px;
    z-index: 100;
    background-position: 0px 8px;
    padding-top: 10%;
    max-width: 10%;
    padding-left: 4px; }

  .logo-national {
    width: 100%;
    max-width: 100%;
    flex: 100%; }

  .logo-national img {
    padding-left: 90px;
    padding-right: 80px; }

  .logo-national p {
    margin-left: 0 !important;
    font-size: 30px !important;
    width: 100%;
    text-align: center; } }
#block-blocinformationrecherchegeo,
#block-blocinformationrecherchegeo h2 {
  font-weight: bold; }

#block-blocinformationrecherchegeo {
  padding-top: 100px; }

#block-blocinformationrecherchegeo h2 {
  font-size: 30px; }

#block-block-article-accueil {
  font-size: 14px; }

.view-articles-content {
  font-size: 14px; }
  .view-articles-content a {
    color: #0cacce; }
  .view-articles-content .field-content {
    border: 1px solid #ccc;
    display: block;
    overflow: hidden;
    box-shadow: 0px 3px 5px rgba(125, 125, 125, 0.5); }
    .view-articles-content .field-content img {
      width: 100%;
      border-radius: 0; }
    .view-articles-content .field-content h5 {
      margin-top: 5px; }

#block-block-article-accueil a {
  font-size: 16px;
  font-weight: 700; }

#block-block-article-accueil .card {
  border: none;
  border-radius: 0;
  line-height: 18px; }

#block-block-article-accueil .bloc .card-img-top {
  height: auto; }

#block-block-article-accueil .bloc .card .card-body {
  background: #e3001b;
  color: #fff;
  height: 160px; }

#block-block-article-accueil .bloc .card .card-body a {
  color: #fff; }

#block-block-article-accueil .line .card .card-body {
  color: #888; }

#block-block-article-accueil .line .card .card-body a {
  color: #3ba2c1; }

#block-block-article-accueil .line .card {
  display: flex;
  flex-direction: row; }

#block-block-article-accueil .line .card .card-img-top {
  width: 30%; }

#block-block-article-accueil .line .card .card-body {
  width: 70%; }

article {
  line-height: 16px; }
  article .zone-image {
    text-align: right; }
  article img {
    max-width: 100%;
    height: auto; }
  article i.fa, article i.fas {
    color: #666666;
    font-size: 20px; }
  article h1 {
    font-size: 1.8rem; }
  article h2 {
    font-weight: bold;
    line-height: 18px;
    font-size: 1.4rem; }
  article .field--name-field-paragraphes .field--item {
    margin: 15px 0px; }

.suivez-nous {
  background: url(../images/suivez-nous.jpg) no-repeat;
  height: 130px;
  min-height: 130px;
  position: relative;
  max-width: 260px;
  margin: auto; }
  .suivez-nous .caption {
    position: absolute;
    right: 5px;
    bottom: 20px;
    width: 50%; }
    .suivez-nous .caption ul {
      justify-content: initial; }
      .suivez-nous .caption ul li {
        padding-right: 5px; }
    .suivez-nous .caption .title {
      color: #e95182; }
    .suivez-nous .caption a {
      color: #e95182; }

.recherche-geo input {
  background: #fff; }

input[type=text] {
  background: #fff;
  border: 1px solid #ccc; }

.recherche-geo .select2,
.recherche-geo label {
  width: 100% !important; }

.recherche-geo .texte {
  color: #e3001b;
  text-align: center;
  font-weight: 700; }

.recherche-geo .select2-container--default .select2-selection--single {
  border-radius: 0;
  height: 35px; }

.recherche-geo .select2-container--default .select2-selection--single .select2-selection__rendered {
  line-height: 35px; }

footer {
  background: #2f9cbd;
  padding: 20px; }
  @media (max-width: 500px) {
    footer .container {
      padding: 0; }
      footer .container ul.menu {
        padding: 0; } }
  footer .reseaux-sociaux {
    justify-content: initial; }
    footer .reseaux-sociaux li {
      padding-right: 5px; }

footer a {
  color: #fff; }

footer a:hover {
  color: #fff;
  text-decoration: underline; }

footer .menu {
  max-width: 900px;
  margin: auto; }

footer .menu li {
  border-right: 1px solid #fff;
  padding-right: 12px; }
  @media (max-width: 992px) {
    footer .menu li {
      padding-left: 10px;
      padding-right: 10px;
      white-space: nowrap;
      flex: 1;
      text-align: center;
      font-size: 14px; } }

footer .menu li.last {
  border-right: none; }

.accueil_dep {
  padding-top: 35px;
  text-align: center; }
  .accueil_dep a {
    color: gray; }
    .accueil_dep a span {
      font-size: 14px;
      display: block; }
  @media (max-width: 768px) {
    .accueil_dep {
      padding-top: 5%; }
      .accueil_dep span {
        display: none; }
      .accueil_dep img {
        margin: auto;
        display: block; } }
  @media (max-width: 440px) {
    .accueil_dep img {
      width: 100%; } }

#rubriques_activites,
#rubriques_activites a {
  color: #444;
  font-size: 0.95em; }

#rubriques_activites {
  background: #f9f6f4;
  padding-bottom: 20px; }

#rubriques_activites .form-group {
  margin-bottom: 0; }

#rubriques_activites h3 a {
  font-size: 14px;
  text-transform: uppercase;
  color: #444;
  font-weight: 700; }

.view-taxonomy-term .views-field-field-image {
  float: left;
  padding-right: 20px; }

@media (max-width: 559px) {
  .view-taxonomy-term .views-field-field-image {
    padding-right: 0px; } }
.bloc-fiche .bloc-information {
  margin-bottom: 20px;
  border: 1px solid #ccc;
  display: block;
  overflow: hidden;
  box-shadow: 0px 3px 5px rgba(125, 125, 125, 0.5); }
  .bloc-fiche .bloc-information h5 {
    margin-top: 5px;
    font-size: 1.2em; }
  .bloc-fiche .bloc-information .content {
    padding-top: 5px;
    padding-bottom: 5px; }
.bloc-fiche .favori .reservation {
  display: none; }
@media (max-width: 768px) {
  .bloc-fiche {
    margin-bottom: 20px; } }

.view-flag-bookmark .reservation {
  display: none; }

#block-views-block-activites-activites-associees {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 0px 15px;
  margin-bottom: 20px;
  box-shadow: 0px 13px 25px -30px; }
  @media (max-width: 768px) {
    #block-views-block-activites-activites-associees {
      border: none;
      box-shadow: none;
      padding: 0px; } }
  #block-views-block-activites-activites-associees .activites-associees {
    color: #3da1c3; }
    #block-views-block-activites-activites-associees .activites-associees img {
      width: 100%; }
    #block-views-block-activites-activites-associees .activites-associees a {
      color: #3da1c3;
      padding-top: 10px; }

.activite-teaser {
  font-size: 0.95em; }
  .activite-teaser img {
    max-width: 100%;
    width: 100%; }
  .activite-teaser .image {
    float: left;
    margin-right: 20px;
    width: 33%; }
  .activite-teaser .views-row {
    margin-bottom: 20px;
    overflow: hidden; }
  .activite-teaser .actions {
    display: inline-flex;
    float: right; }
    .activite-teaser .actions .favori, .activite-teaser .actions .reserver {
      float: right;
      background: #db2a24;
      padding: 7px 10px; }
      .activite-teaser .actions .favori a, .activite-teaser .actions .reserver a {
        font-size: 0.95em;
        color: #fff; }
  .activite-teaser .paragraph--view-mode--liste {
    display: flex; }
    .activite-teaser .paragraph--view-mode--liste .field--name-field-date-de-fin {
      display: flex; }
      .activite-teaser .paragraph--view-mode--liste .field--name-field-date-de-fin:before {
        content: ' au ';
        padding: 0px 5px; }
  .activite-teaser .date {
    display: flex; }
  .activite-teaser .informations {
    padding: 2px 20px;
    font-size: 1em;
    color: #0cacce; }
    .activite-teaser .informations span {
      color: gray; }
    .activite-teaser .informations .fa {
      font-family: 'Roboto'; }
      .activite-teaser .informations .fa:before {
        padding-right: 5px;
        font-family: 'Font Awesome 5 Free'; }
    .activite-teaser .informations .fa-calendar-o {
      padding-top: 2px; }

#edit-center-coordinates, #edit-actions--2 {
  display: none; }

#block-colonneblock,
#block-carrebasblock,
.pub-mobile {
  max-width: 265px;
  margin: auto; }

#filtres:checked + label > .cacher {
  display: block; }

#filtres:checked + label > .voir {
  display: none; }

#filtres:checked + label > .filtres {
  display: block; }

@media (max-width: 768px) {
  .filtres {
    display: none; } }
@media (min-width: 768px) {
  .filtres {
    display: none; } }
#block-formulaireexposeactivitesrecherche-activites label {
  width: 100%; }
#block-formulaireexposeactivitesrecherche-activites .label_filtres {
  display: block;
  text-align: center;
  margin-top: 10px;
  cursor: pointer; }
  #block-formulaireexposeactivitesrecherche-activites .label_filtres .voir {
    background: #0cacce;
    color: #ffffff;
    padding: 5px 10px; }
  #block-formulaireexposeactivitesrecherche-activites .label_filtres .cacher {
    display: none;
    color: #0cacce;
    font-size: 40px;
    font-family: arial;
    line-height: 40px; }
#block-formulaireexposeactivitesrecherche-activites #filtres {
  display: none; }
  #block-formulaireexposeactivitesrecherche-activites #filtres:checked + label .voir {
    display: none; }
  #block-formulaireexposeactivitesrecherche-activites #filtres:checked + label .cacher {
    display: block; }
@media (min-width: 768px) {
  #block-formulaireexposeactivitesrecherche-activites #filtres, #block-formulaireexposeactivitesrecherche-activites .label_filtres {
    display: none; }
  #block-formulaireexposeactivitesrecherche-activites .filtres {
    display: block; } }

.view-taxonomy-term .image {
  float: left;
  margin-right: 20px;
  width: 33%; }

.view-taxonomy-term img {
  max-width: 100%; }

.view-taxonomy-term .views-row {
  margin-bottom: 20px;
  overflow: hidden; }

.page-rubriques-activites {
  font-size: 14px; }
  .page-rubriques-activites .titre {
    font-size: 16px; }
  .page-rubriques-activites .ville, .page-rubriques-activites .a-partir-de, .page-rubriques-activites .date {
    padding-right: 10px; }
  .page-rubriques-activites .fa:before {
    padding-right: 5px; }
  .page-rubriques-activites .resume {
    margin-top: 5px;
    line-height: 14px;
    font-size: 1.1em; }
  .page-rubriques-activites .paragraph--type--date {
    display: inline-block; }
    .page-rubriques-activites .paragraph--type--date .field {
      display: inline-block; }
    .page-rubriques-activites .paragraph--type--date .field--name-field-date-de-fin {
      position: relative; }
      .page-rubriques-activites .paragraph--type--date .field--name-field-date-de-fin:before {
        position: absolute;
        content: ' au ';
        display: inline; }
      .page-rubriques-activites .paragraph--type--date .field--name-field-date-de-fin .field--item {
        padding-left: 18px; }

#block-sortiesboutonblock {
  margin-bottom: 20px;
  position: relative;
  text-align: center; }

.action-unflag a.use-ajax {
  padding-bottom: 9px; }
  .action-unflag a.use-ajax:before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f004";
    margin-right: 10px; }

.action-flag a.use-ajax {
  padding-bottom: 9px; }
  .action-flag a.use-ajax:before {
    font-family: "Font Awesome 5 Free";
    font-weight: 400;
    content: "\f004";
    margin-right: 10px; }

p.js-flag-message {
  position: fixed;
  background: lightcoral;
  padding: 20px;
  top: 50%;
  left: 50%;
  width: auto;
  translate: -50% -50%;
  color: white;
  z-index: 10000; }

.activite .flag-resa .reservation a, .agenda .flag-resa .reservation a {
  background: #db2a24;
  padding: 7px;
  color: #fff;
  width: 100%;
  display: block;
  text-align: center; }
  .activite .flag-resa .reservation a:before, .agenda .flag-resa .reservation a:before {
    content: ""; }
.activite .field--name-field-resume, .agenda .field--name-field-resume {
  margin-bottom: 10px; }
.activite .flag-bookmark i, .agenda .flag-bookmark i {
  color: #fff;
  padding-right: 5px; }
.activite .flag-bookmark a, .agenda .flag-bookmark a {
  background: #db2a24;
  padding: 7px;
  padding-bottom: 6px;
  color: #fff;
  width: 100%;
  display: block;
  text-align: center; }
.activite .bloc1, .agenda .bloc1 {
  font-size: 14px;
  margin-bottom: 20px; }
  .activite .bloc1 .field--label, .agenda .bloc1 .field--label {
    font-weight: 500;
    display: inline-block; }
    .activite .bloc1 .field--label:after, .agenda .bloc1 .field--label:after {
      content: " : "; }
  .activite .bloc1 .field--item, .agenda .bloc1 .field--item {
    font-weight: 500;
    display: inline-block; }
  .activite .bloc1 .field--name-field-a-partir-de, .agenda .bloc1 .field--name-field-a-partir-de {
    display: block;
    margin-top: 10px; }
    .activite .bloc1 .field--name-field-a-partir-de .field--item:before, .agenda .bloc1 .field--name-field-a-partir-de .field--item:before {
      content: "Public : "; }
  .activite .bloc1 .field--name-field-date, .agenda .bloc1 .field--name-field-date {
    margin-top: 10px;
    height: 20px;
    overflow: hidden;
    cursor: pointer; }
    .activite .bloc1 .field--name-field-date .field--items, .agenda .bloc1 .field--name-field-date .field--items {
      display: inline-grid; }
      .activite .bloc1 .field--name-field-date .field--items .paragraph .field, .agenda .bloc1 .field--name-field-date .field--items .paragraph .field {
        display: inline-block; }
      .activite .bloc1 .field--name-field-date .field--items .paragraph .field--name-field-date-de-fin:before, .agenda .bloc1 .field--name-field-date .field--items .paragraph .field--name-field-date-de-fin:before {
        content: " au "; }

aside .region section {
  margin-bottom: 20px; }

article {
  margin-bottom: 20px; }
  article .bloc-age {
    display: flex;
    flex-direction: row; }
    article .bloc-age .field--name-field-jusque-age-de {
      margin-top: 15px;
      margin-left: 5px; }
      article .bloc-age .field--name-field-jusque-age-de:before {
        content: "-"; }
  article .en-bref {
    color: #0cacce; }
    article .en-bref:before {
      content: 'En bref';
      font-size: 18px;
      display: block;
      padding-bottom: 15px; }
  article .informations {
    color: #3da1c3; }
    article .informations .field--label {
      font-weight: 700; }
    article .informations:before {
      content: 'Informations';
      font-size: 22px;
      display: block;
      padding-bottom: 10px;
      font-family: 'DidactGothic'; }
    article .informations .field {
      margin-bottom: 15px;
      display: block; }
      article .informations .field:before {
        color: #000; }
      article .informations .field .field--label {
        font-weight: 700;
        display: inline-block; }
        article .informations .field .field--label:after {
          content: " : "; }
      article .informations .field .field--item {
        font-weight: 500;
        padding-left: 20px; }
    article .informations .field--name-field-lien .field--label:after {
      content: ""; }

.carre .views-row {
  text-align: center; }

.diaporama {
  position: relative;
  width: 100%; }
  .diaporama .views_slideshow_cycle_teaser_section,
  .diaporama .views_slideshow_cycle_slide {
    width: 100% !important; }
    .diaporama .views_slideshow_cycle_teaser_section .views-row,
    .diaporama .views_slideshow_cycle_slide .views-row {
      position: relative;
      display: flex; }
      @media (max-width: 992px) {
        .diaporama .views_slideshow_cycle_teaser_section .views-row,
        .diaporama .views_slideshow_cycle_slide .views-row {
          flex-direction: column; } }
      .diaporama .views_slideshow_cycle_teaser_section .views-row .views-field-title,
      .diaporama .views_slideshow_cycle_slide .views-row .views-field-title {
        flex: 1;
        width: 100%;
        display: block;
        background: #db2a24;
        padding: 20px;
        color: #fff; }
        @media (min-width: 992px) {
          .diaporama .views_slideshow_cycle_teaser_section .views-row .views-field-title,
          .diaporama .views_slideshow_cycle_slide .views-row .views-field-title {
            width: 240px;
            height: 247px; } }
        @media (min-width: 1200px) {
          .diaporama .views_slideshow_cycle_teaser_section .views-row .views-field-title,
          .diaporama .views_slideshow_cycle_slide .views-row .views-field-title {
            width: 240px;
            height: 298px; } }
        .diaporama .views_slideshow_cycle_teaser_section .views-row .views-field-title a,
        .diaporama .views_slideshow_cycle_slide .views-row .views-field-title a {
          font-weight: 700;
          color: #fff; }
      .diaporama .views_slideshow_cycle_teaser_section .views-row .views-field-nothing,
      .diaporama .views_slideshow_cycle_slide .views-row .views-field-nothing {
        flex: 3; }
  .diaporama img {
    width: 100% !important; }
  .diaporama .views_slideshow_controls_text {
    position: absolute;
    top: 50%;
    z-index: 100;
    width: 100%;
    transform: translateY(-50%); }
    @media (min-width: 992px) {
      .diaporama .views_slideshow_controls_text {
        left: 205px;
        width: 480px; } }
    @media (min-width: 1200px) {
      .diaporama .views_slideshow_controls_text {
        left: 240px;
        width: 580px; } }
    .diaporama .views_slideshow_controls_text .views_slideshow_controls_text_pause {
      display: none; }

.slide-menu {
  transform: translateX(0%) !important; }

.shadow {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: none; }

.icon-menu-open {
  background-image: url(/assets/img/icon_menu_open.png) !important;
  position: fixed;
  top: 5px;
  left: 265px;
  height: 40px;
  width: 40px;
  cursor: pointer;
  display: none; }

@media (max-width: 992px) {
  #menu .navbar-haut {
    width: 260px;
    height: 100%;
    overflow-y: auto;
    position: fixed;
    transition: all 0.3s linear 0s;
    transform: translateX(-100%);
    top: 0px;
    left: 0px;
    z-index: 100;
    background: url(/assets/img/titre_kidi_dep.jpg) no-repeat;
    background-color: rgba(0, 0, 0, 0);
    background-position-x: 0%;
    background-position-y: 0%;
    background-size: auto;
    background-size: 170px;
    background-position: center 10px; }
    #menu .navbar-haut #navbarCollapse {
      width: 100%;
      top: 90px;
      position: absolute; }
    #menu .navbar-haut .menu-user {
      padding-left: 20px; }
    #menu .navbar-haut .menu-footer {
      padding-left: 60px; }
    #menu .navbar-haut .reseaux-sociaux {
      padding-left: 60px; }
      #menu .navbar-haut .reseaux-sociaux a {
        color: rgba(0, 0, 0, 0.5); } }
@media (min-width: 992px) {
  #menu .navbar {
    position: relative !important; }
  #menu #input-newsletter {
    padding-left: 25px;
    background: url(/assets/img/newsletter.jpg) no-repeat 5px center; }
  #menu #input-search {
    padding-left: 20px;
    background: url(/assets/img/loupe.png) no-repeat 3px center; } }
#menu .select2-selection--single {
  border-radius: 0px;
  border: none;
  background: url(/assets/img/picto_france.jpg) no-repeat top center;
  padding-top: 20px; }
  #menu .select2-selection--single .select2-selection__arrow {
    top: 20px; }
#menu .menu-user .form-newsletter {
  border: 1px solid #ccc;
  margin-top: 20px !important;
  display: flex;
  flex-direction: row; }
  #menu .menu-user .form-newsletter input {
    flex: 2;
    border: none;
    width: 80% !important;
    margin-top: 0 !important; }
    #menu .menu-user .form-newsletter input:focus {
      border: none; }
  #menu .menu-user .form-newsletter .btn-newsletter {
    background: #ccc;
    border: none; }
#menu .select2-container {
  width: 180px !important; }
#menu .navbar {
  padding-left: 0;
  padding-right: 0;
  font-size: 13px; }
#menu .menu-footer {
  border-top: 1px solid rgba(0, 0, 0, 0.5);
  margin-top: 20px;
  padding-top: 10px;
  padding-left: 40px; }
  #menu .menu-footer ul {
    flex-direction: column;
    display: block !important; }
    #menu .menu-footer ul li {
      text-align: left !important;
      padding: 0;
      padding-top: 10px; }
      #menu .menu-footer ul li a {
        color: rgba(0, 0, 0, 0.5); }
#menu #navbarCollapse ul {
  display: flex;
  width: 100%; }
  #menu #navbarCollapse ul li {
    flex: auto;
    padding-right: 10px;
    text-align: center; }
    #menu #navbarCollapse ul li a {
      color: #000000; }
    #menu #navbarCollapse ul li.coeur {
      background: url(/assets/img/picto_coeur.jpg) no-repeat top center; }
      #menu #navbarCollapse ul li.coeur a {
        margin-top: 15px; }
    #menu #navbarCollapse ul li.user {
      background: url(/assets/img/picto_user.jpg) no-repeat top center;
      text-align: center; }
      #menu #navbarCollapse ul li.user a {
        margin-top: 15px; }
    #menu #navbarCollapse ul li input {
      margin-top: 20px;
      margin-left: auto;
      margin-right: auto;
      width: 100%; }
    @media (max-width: 992px) {
      #menu #navbarCollapse ul li.change_dep {
        display: none; }
      #menu #navbarCollapse ul li.user {
        text-align: left;
        background: url(/assets/img/picto_user.jpg) no-repeat center left; }
        #menu #navbarCollapse ul li.user a {
          padding-left: 40px;
          margin-top: 0px; }
      #menu #navbarCollapse ul li.coeur {
        text-align: left;
        background: url(/assets/img/picto_coeur.jpg) no-repeat center left; }
        #menu #navbarCollapse ul li.coeur a {
          padding-left: 40px;
          margin-top: 0px; }
      #menu #navbarCollapse ul li.newsletter {
        text-align: left;
        background: url(/assets/img/newsletter.jpg) no-repeat center left; }
        #menu #navbarCollapse ul li.newsletter a {
          padding-left: 40px;
          margin-top: 0px; } }

.select2-container--open .select2-dropdown--below {
  border-radius: 0;
  border: 1px solid gray; }

@media (max-width: 992px) {
  .icon-menu {
    margin-top: 40%;
    border-color: transparent !important; }
    .icon-menu .icon {
      background-image: url(/assets/img/menu.jpg) !important;
      width: 40px;
      height: 40px;
      display: block;
      background-size: contain; } }

.list-bloc-content .img {
  overflow: hidden; }
.list-bloc-content .card-title, .list-bloc-content .card-text {
  padding: 10px; }

#block-bloc-jeux-concours {
  margin: auto;
  max-width: 265px; }
  #block-bloc-jeux-concours .views_slideshow_cycle_teaser_section, #block-bloc-jeux-concours .views_slideshow_cycle_slide {
    width: 100% !important; }
  #block-bloc-jeux-concours img {
    width: 100%;
    height: auto; }
  #block-bloc-jeux-concours .card-img-top {
    height: 160px;
    overflow: hidden; }
  #block-bloc-jeux-concours .card-body {
    background: #44aac7;
    height: 150px !important;
    overflow: hidden; }
  #block-bloc-jeux-concours .card-title a {
    font-size: 0.8em;
    font-weight: 700; }
  #block-bloc-jeux-concours .card {
    font-size: 14px;
    color: #fff;
    border-radius: 0;
    border: none; }
    #block-bloc-jeux-concours .card a {
      color: #fff; }
  #block-bloc-jeux-concours .views-slideshow-controls-top {
    position: relative; }
    #block-bloc-jeux-concours .views-slideshow-controls-top .views_slideshow_controls_text {
      top: 160px;
      width: 100%; }

.views_slideshow_controls_text {
  position: absolute;
  z-index: 100; }
  .views_slideshow_controls_text .views_slideshow_controls_text_previous,
  .views_slideshow_controls_text .views_slideshow_controls_text_next {
    position: absolute; }
    .views_slideshow_controls_text .views_slideshow_controls_text_previous a,
    .views_slideshow_controls_text .views_slideshow_controls_text_next a {
      display: inline-block;
      text-indent: -9999px;
      width: 10px; }
  .views_slideshow_controls_text .views_slideshow_controls_text_pause {
    display: none; }
  .views_slideshow_controls_text .views_slideshow_controls_text_previous {
    width: 20px;
    height: 30px;
    left: 0; }
    .views_slideshow_controls_text .views_slideshow_controls_text_previous a {
      background: url(/assets/img/prev.png) no-repeat;
      background-size: contain;
      width: 100%;
      height: 100%; }
  .views_slideshow_controls_text .views_slideshow_controls_text_next {
    right: 0;
    width: 20px;
    height: 30px; }
    .views_slideshow_controls_text .views_slideshow_controls_text_next a {
      background: url(/assets/img/next.png) no-repeat;
      background-size: contain;
      width: 100%;
      height: 100%; }

.pub-large {
  width: 100%;
  height: 140px;
  overflow: hidden; }

.bloc-send-email {
  background: #3f9cae url(/assets/img/fond_bloc_newsletter.jpg) no-repeat bottom center;
  text-align: center;
  color: #fff;
  padding: 10px;
  padding-bottom: 110px;
  max-width: 265px;
  margin: auto; }
  .bloc-send-email input {
    width: 100%;
    border: none; }
  .bloc-send-email button {
    background: #fff;
    border: none; }
  .bloc-send-email form {
    background: #fff;
    margin-top: 10px; }
  .bloc-send-email .fa-envelope {
    color: #000;
    padding-top: 5px; }
  .bloc-send-email h3 {
    font-size: 1.4em;
    margin-bottom: 0; }

#block-bloc-liste-article-accueil-national .views-row {
  margin-bottom: 20px; }
#block-bloc-liste-article-accueil-national .view-footer {
  text-align: right; }

#contact-message-contact-form input.form-text, #contact-message-contact-form input.form-email,
#node-message-contact-form input.form-text,
#node-message-contact-form input.form-email {
  width: 100%; }

.bloc-publicite {
  margin-bottom: 20px; }
  .bloc-publicite img {
    width: 100%; }

#entete .bloc-publicite {
  max-width: 400px;
  margin: auto;
  margin-bottom: 0px; }

.pub-mobile {
  margin-bottom: 20px;
  text-align: center; }
  @media (max-width: 576px) {
    .pub-mobile img {
      width: 100%; } }

#newsletter-form {
  margin-bottom: 20px;
  overflow: hidden; }
  @media (min-width: 768px) {
    #newsletter-form .fieldset-wrapper {
      display: flex;
      flex-wrap: wrap; }
      #newsletter-form .fieldset-wrapper .form-item {
        width: 50%; } }
  #newsletter-form .fieldset-wrapper {
    margin-left: -10px;
    margin-right: -10px;
    position: relative;
    /*display: flex;
    flex-direction: row;
    flex-wrap: wrap;*/ }
    #newsletter-form .fieldset-wrapper .form-item {
      padding: 10px; }
    #newsletter-form .fieldset-wrapper #debug-out {
      margin-bottom: 0; }
    #newsletter-form .fieldset-wrapper .form-item {
      margin-bottom: 10px; }
    #newsletter-form .fieldset-wrapper input {
      width: 100%; }
    #newsletter-form .fieldset-wrapper #edit-email {
      padding-left: 25px;
      background: url(/assets/img/newsletter.jpg) no-repeat 5px center; }
  #newsletter-form #edit-submit {
    width: 100%;
    display: block;
    margin: auto;
    background: #db2a24;
    color: #fff;
    border: none;
    height: calc(1.5em + .75rem + 2px); }
    @media (min-width: 768px) {
      #newsletter-form #edit-submit {
        width: 30%;
        float: right; } }

.form-email {
  display: block; }

#edit-field-interet {
  flex-wrap: wrap;
  display: flex; }
  #edit-field-interet .form-item {
    padding: 5px;
    width: 100px; }

#complete_map path {
  cursor: pointer; }

.paragraph--type--liste-de-partenaires .field--name-field-partenaires > field--item {
  border-bottom: 1px dotted #db2a24;
  margin-bottom: 10px; }

.imagefield_slideshow-wrapper {
  border: none; }

#block-blocinscriptionnewsletter h3 {
  color: #ffffff; }

#fb-root {
  height: 0; }

#block-carreblock {
  padding-bottom: 10px; }

.sticky-top {
  z-index: 99; }

div.user-login, div.user-register {
  padding: 0; }
  div.user-login .ui-widget-header, div.user-register .ui-widget-header {
    border: 1px solid #fff;
    background: #fff;
    border-radius: 0px !important; }
    div.user-login .ui-widget-header span, div.user-register .ui-widget-header span {
      color: #000; }
    div.user-login .ui-widget-header .ui-button-icon-only, div.user-register .ui-widget-header .ui-button-icon-only {
      border-radius: 0px; }
  div.user-login .user-login-form, div.user-login .user-register-form, div.user-register .user-login-form, div.user-register .user-register-form {
    padding: 15px; }
    div.user-login .user-login-form .btn-connexion, div.user-login .user-register-form .btn-connexion, div.user-register .user-login-form .btn-connexion, div.user-register .user-register-form .btn-connexion {
      margin-top: 15px;
      padding: 5px 10px;
      width: 100%;
      background: #db2a24;
      border: none;
      color: #ffffff; }
    div.user-login .user-login-form .msg-creer-compte, div.user-login .user-register-form .msg-creer-compte, div.user-register .user-login-form .msg-creer-compte, div.user-register .user-register-form .msg-creer-compte {
      padding: 15px 5px 0px 5px;
      text-align: center; }
    div.user-login .user-login-form .btn-creer-compte, div.user-login .user-register-form .btn-creer-compte, div.user-register .user-login-form .btn-creer-compte, div.user-register .user-register-form .btn-creer-compte {
      margin-top: 5px;
      padding: 5px 10px;
      width: 100%;
      background: #0cacce;
      border: none;
      color: #ffffff;
      text-align: center;
      cursor: pointer;
      display: block; }
    div.user-login .user-login-form .field--name-field-interet fieldset .fieldset-wrapper > div, div.user-login .user-register-form .field--name-field-interet fieldset .fieldset-wrapper > div, div.user-register .user-login-form .field--name-field-interet fieldset .fieldset-wrapper > div, div.user-register .user-register-form .field--name-field-interet fieldset .fieldset-wrapper > div {
      display: flex;
      flex-wrap: wrap; }
      div.user-login .user-login-form .field--name-field-interet fieldset .fieldset-wrapper > div .form-item, div.user-login .user-register-form .field--name-field-interet fieldset .fieldset-wrapper > div .form-item, div.user-register .user-login-form .field--name-field-interet fieldset .fieldset-wrapper > div .form-item, div.user-register .user-register-form .field--name-field-interet fieldset .fieldset-wrapper > div .form-item {
        padding: 5px;
        width: 100px; }

.view-rubriques-activites .row .views-row {
  padding: 3px 0px; }
@media (max-width: 768px) {
  .view-rubriques-activites .row .bloc {
    text-align: center;
    margin: auto;
    width: 60%;
    padding-bottom: 30px;
    padding-top: 10px;
    border-bottom: 1px dashed #000; } }
@media (max-width: 992px) {
  .view-rubriques-activites .row .views-row {
    padding: 5px 0px; }
  .view-rubriques-activites .row .bloc {
    padding-bottom: 30px;
    padding-top: 10px;
    border-bottom: 1px dashed #000; } }

@media (max-width: 992px) {
  #block-facebookblock {
    margin-left: auto;
    margin-right: auto;
    width: 255px; } }
#block-facebookblock .fb-page {
  width: 100% !important; }
  #block-facebookblock .fb-page > span {
    width: 100% !important; }
    #block-facebookblock .fb-page > span iframe {
      width: 100% !important; }

#block-formulaireexposeactivitesrecherche-activites {
  position: relative;
  /*@media (max-width: 576px) {
  	overflow: clip;
  	height: 124px;
  	box-shadow: 0px 3px 5px rgba(125, 125, 125, 0.5);
  }
  @media (max-width: 768px) {
  	overflow: clip;
  	height: 117px;
  	box-shadow: 0px 3px 5px rgba(125, 125, 125, 0.5);
  }*/ }

.poignee {
  position: absolute;
  bottom: 5px;
  left: 50%;
  transform: translateX(-50%);
  width: 50px;
  height: 5px;
  cursor: pointer; }
  @media (min-width: 768px) {
    .poignee {
      display: none; } }

.voir-actualites {
  color: #0cacce;
  border: 1px solid #0cacce;
  padding: 10px; }
  .voir-actualites:hover {
    color: #0cacce; }

@media (max-width: 700px) {
  .ui-widget-content {
    width: 100% !important;
    left: 0 !important; } }

/*# sourceMappingURL=style.css.map */
